.header {
    background-color: #00baad;
    color: white;
    height: 10vh;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    height: 100%
}

main {
    height: 100%
}

.call-to-action {
    text-align: center;
    color: #22baae;
}

.form-headers {
    margin-top: 0;
    font-size: 20px;
    color: #22baae;

}

.form-structure {
    padding: 10px 10px 10px 10px;
}

.form-structure input,
.form-structure select {
    width: 100%;
    height: 48px;
    font-size: 16px;
    border-radius: 0px;
}

.form-structure label {
    font-weight: 500;
    color: #22baae;
}

.form-structure div {
    margin-bottom: 28px;
}

.divider {
    border: 1px solid rgba(0, 47, 52, .2);
}

form#sign-up input,
form#sign-in input {
    width: 100%;
    padding: 0.5rem;

}

form div.container {
    margin-top: 0.5rem;
}

button {
    background-color: #ff9100;
    width: 100%;
    border: none;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
}

button:hover {
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.anchor-tag {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 1.5em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.justify-right {
    justify-content: flex-end
}

.justify-content-center {
    justify-content: center
}

#post-ad-container {
    border: 1px solid rgba(0, 47, 52, .2);
    border-left: none;
    border-right: none;
}

footer {
    color: white;
    background: #363636;
    height: 10vh;
    width: 100%;
    text-align: center;
}

.ad {
    border: 1px solid rgba(0, 47, 52, .2);
    width: 90%;
    margin: 0 auto 12px auto;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 47, 52, .2), 0 1px 3px 0 rgba(0, 47, 52, .2);
    color: #22baae;
    display: flex;
    flex-direction: column;

}

.ad-img {
    width: 100%;
    max-height: 100%;
}

.margin-bottom {
    margin-bottom: 12px;
}

#pr-1-bnr {
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 16px;
}

#pr-ad-cntnr {
    margin-bottom: 12px;
}

.pr-ad {
    border: 1px solid rgba(0, 47, 52, .2);
    width: 90%;
    margin: auto;
    height: 130px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    color: #22baae;
    text-align: center
}

.pr-ad figure {
    width: 43%;
    margin: 0;
    padding: 8px
}

.pr-ad-details {
    padding: 8px;
    width: 67%;
}

a {
    text-decoration: none;
}

.menu-container {
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 7px;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 6px 0 0 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 47px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
    color: #22baae;
}

nav ul {
    display: none;
}

@media (min-width:700px) {
    form {
        width: 392px;
    }

    #ad-container {
        width: 700px;
        margin: auto;
    }

    .anchor-tag {
        font-size: 1.2em
    }

    #spec-car-ad-cntnr{
        max-width: 700px;
    }
    #spec-car-ad-cntnr button{
        width:50%;
        margin-left:25%
    }
    .modal-content form{
        width: 100%;
    }

    .modal-content{
        max-width: 500px;
    }
}

@media (min-width: 992px) {
    #pr-ad-cntnr {
        display: flex;
        flex-direction: row;
        margin: auto;
        max-width: 930px;
        flex-wrap: wrap;
    }

    .pr-ad {
        width: 300px;
        margin-right: 5px;
        margin-left: 5px;
    }

    nav ul {
        display: block;
    }

    .dropdown {
        display: none
    }

    .logo {
        padding-left: 8px;
    }

    #post-ad-container {
        width: 700px;
        border: 1px solid rgba(0, 47, 52, .2);
        margin: auto;
    }

    #pr-1-bnr {
        padding-left: 16%;
        padding-right: 16%
    }
}

#spec-car-ad-cntnr{
    width:90%;
    margin: 15px auto 15px auto;
    color: #22baae;
    border: 1px solid rgba(0, 47, 52, .2);
    padding: 15px;
}

#spec-car-ad-cntnr figure {
    width: 100%;
    margin:0;
    height: 240px;
}

.scac-div1{
    margin-bottom: 12px;
    margin-top: 12px;
}

.scac-div2 {
    margin-bottom: 8px;
}

.scac-span{
    float: right;
    padding-right: 80px;
    text-align: left;
    width: 128px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }

  .modal-content textarea{
      width: 100%;
      height: 150px
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }